.dragZone .file{
    width:100%;
    display: block;
    height: 100%;
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

.dragZone .file input{
    width:0;
    height: 0;
    visibility: hidden;
}
.dragZone .file-img{
    width: 80px;
    height: 80px;
    display: block;
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}
.dragZone .file-img input{
    width:0;
    height: 0;
    visibility: hidden;
}

.dragZone .file-img .remove{
    position: absolute;
    right: 0;
    top:0;
}
